.mdrn .Grid {
  display: grid;
  grid-gap: 1.5em 0.75em;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 36.25em;
}

@supports (display: grid) {
  .mdrn .Grid {
    max-width: 56.75em;
  }
}

@media (--larger-viewport) {
  .mdrn .Grid {
    grid-gap: 0.75em;
    grid-template-columns: repeat(12, 1fr);
  }
}

.mdrn .Grid-item {
  margin-bottom: 1.5em;
}

.mdrn .Grid-item:last-child {
  margin-bottom: 0;
}

@supports (display: grid) {
  .mdrn .Grid-item {
    margin-bottom: 0;
  }
}

@media (--smaller-viewport) {
  .mdrn .Grid-item {
    grid-column-end: auto !important;
    grid-column-start: auto !important;
    grid-row-end: auto !important;
    grid-row-start: auto !important;
  }
}
