.Poster {
  background-blend-mode: darken;
  background-color: var(--mnspcd-color-blue-6);
  background-image: url(../../assets/images/desk.png);
  background-position: bottom;
  background-size: cover;
  color: var(--mnspcd-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Poster a {
  color: var(--mnspcd-color-white);
}

.Poster a:hover {
  color: var(--mnspcd-color-blue-2);
}

.Poster a:active {
  color: var(--mnspcd-color-blue-3);
}
