.Poster {
  background-color: var(--mnspcd-color-blue-6);
  background-image: url(../../assets/images/desk-x1.png);
  background-position: bottom;
  background-size: cover;
  color: var(--mnspcd-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-x2.png);
  }
}

@media (min-width: 338px) {
  .Poster {
    background-image: url(../../assets/images/desk-338-x1.png);
  }
}

@media (min-width: 338px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-338-x2.png);
  }
}

@media (min-width: 495px) {
  .Poster {
    background-image: url(../../assets/images/desk-495-x1.png);
  }
}

@media (min-width: 495px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-495-x2.png);
  }
}

@media (min-width: 640px) {
  .Poster {
    background-image: url(../../assets/images/desk-640-x1.png);
  }
}

@media (min-width: 640px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-640-x2.png);
  }
}

@media (min-width: 768px) {
  .Poster {
    background-image: url(../../assets/images/desk-768-x1.png);
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-768-x2.png);
  }
}

@media (min-width: 1024px) {
  .Poster {
    background-image: url(../../assets/images/desk-1024-x1.png);
  }
}

@media (min-width: 1024px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-1024-x2.png);
  }
}

@media (min-width: 1280px) {
  .Poster {
    background-image: url(../../assets/images/desk-1280-x1.png);
  }
}

@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .Poster {
    background-image: url(../../assets/images/desk-1280-x2.png);
  }
}

.Poster a {
  color: var(--mnspcd-color-white);
}

.Poster a:hover {
  color: var(--mnspcd-color-blue-2);
}

.Poster a:active {
  color: var(--mnspcd-color-blue-3);
}
