/*
 * Run-in

.Markdown > p:first-of-type::first-line {
  font-family: var(--font-small-caps);
}
 */

/*
 * Spacing
 */

.mdrn .Markdown blockquote,
.mdrn .Markdown ol,
.mdrn .Markdown p,
.mdrn .Markdown ul {
  margin-bottom: calc(1em * var(--leading) / 2);
}

.mdrn .Markdown h1 {
  margin-bottom: calc(1em * var(--leading) / var(--type-scale-xxxl));
}

.mdrn .Markdown h2,
.mdrn .Markdown h3,
.mdrn .Markdown h4,
.mdrn .Markdown h5,
.mdrn .Markdown h6 {
  margin-bottom: calc(12rem / 16);
  margin-top: calc(24rem / 16);
}

@media (--larger-viewport) {
  .mdrn .Markdown h2,
  .mdrn .Markdown h3,
  .mdrn .Markdown h4,
  .mdrn .Markdown h5,
  .mdrn .Markdown h6 {
    margin-bottom: calc(15rem / 16);
    margin-top: calc(30rem / 16);
  }
}

.mdrn .Markdown hr,
.mdrn .Markdown pre,
.mdrn .Markdown table {
  margin-bottom: calc(1em * var(--leading));
  margin-top: calc(1em * var(--leading));
}

.mdrn .Markdown > :first-child {
  margin-top: 0;
}

.mdrn .Markdown > :last-child {
  margin-bottom: 0;
}

/*
 * Small block
 */

.mdrn .Markdown > small {
  display: block;
  margin-bottom: calc(1em * var(--leading) / 2);
  max-width: var(--measure);
}

@media (--larger-viewport) {
  .mdrn .Markdown > small {
    margin-bottom: calc(1em * var(--leading) / var(--type-scale-s) / 2);
    max-width: calc(var(--measure) * var(--type-scale-l));
  }
}

/*
 * Footnotes
 */

@media (--larger-viewport) {
  .mdrn .Markdown .footnotes ol {
    font-size: calc(1em * var(--type-scale-s));
  }
}

.mdrn .Markdown .footnotes p {
  margin-bottom: 0;
}

.mdrn .Markdown .footnote-backref {
  display: block;
  font-family: var(--font-monospaced);
  font-size: calc(1em * var(--type-scale-xl));
  line-height: 1;
}
