.Logomark {
  display: block;
  max-width: 100%;
}

.Logomark-inner {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.Logomark-svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
