.mdrn .Logotype {
  display: block;
  max-width: 100%;
}

.mdrn .Logotype-inner {
  display: block;
  height: 0;
  padding-bottom: 13.9767055%;
  position: relative;
  width: 100%;
}

.mdrn .Logotype-svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
