.mdrn .Blockquote {
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  max-width: calc(var(--measure) -1em);
}

.mdrn .Blockquote p {
  margin-bottom: 0;
  margin-top: 0;
  quotes: "“" "”" "‘" "’";
}

.mdrn .Blockquote p:first-child::before {
  content: open-quote;
  margin-left: -0.75ch;
}

.mdrn .Blockquote p:first-child::after {
  content: close-quote;
}

.mdrn .Blockquote p + p:last-child {
  text-align: right;
}

@media (--larger-viewport) {
  .mdrn .Blockquote p + p:last-child {
    font-size: calc(1em * var(--type-scale-s));
    line-height: calc(var(--leading) / var(--type-scale-s));
    max-width: 100%;
  }
}
