.Code {
  background-color: rgba(var(--mnspcd-color-grey-9-rgb), var(--opacity-static));
  border-radius: 0.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.25em 0.5em;
}

.Code--onDarkBackground {
  background-color: rgba(var(--mnspcd-color-white-rgb), var(--opacity-static-inverted));
}

.Code--block {
  background-color: var(--mnspcd-color-cyan-8);
  border-radius: 0;
  color: var(--mnspcd-color-grey-3);
  display: block;
  font-weight: 300;
  line-height: var(--leading);
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: calc(1.5em / var(--type-scale-s)) calc(1em / var(--type-scale-s));
}

.Code .hljs-comment,
.Code .hljs-emphasis,
.Code .hljs-quote {
  font-style: italic;
}

.Code .hljs-strong {
  font-weight: 400; /* never bold */
}

.Code .hljs-built_in,
.Code .hljs-deletion {
  color: var(--mnspcd-color-red-4);
  font-weight: 400;
}

.Code .hljs-name,
.Code .hljs-section,
.Code .hljs-selector-class,
.Code .hljs-selector-id,
.Code .hljs-title {
  color: var(--mnspcd-color-azure-4);
  font-weight: 400;
}

.Code .hljs-doctag,
.Code .hljs-literal,
.Code .hljs-meta .hljs-meta-string,
.Code .hljs-number,
.Code .hljs-regexp,
.Code .hljs-string {
  color: var(--mnspcd-color-cyan-4);
  font-weight: 400;
}

.Code .hljs-addition,
.Code .hljs-keyword,
.Code .hljs-selector-tag {
  color: var(--mnspcd-color-green-4);
  font-weight: 400;
}

.Code .hljs-attr,
.Code .hljs-attribute,
.Code .hljs-class .hljs-title,
.Code .hljs-template-variable,
.Code .hljs-type,
.Code .hljs-variable {
  color: var(--mnspcd-color-yellow-4);
  font-weight: 400;
}

.Code .hljs-bullet,
.Code .hljs-link,
.Code .hljs-meta .hljs-keyword,
.Code .hljs-meta,
.Code .hljs-selector-attr,
.Code .hljs-selector-pseudo,
.Code .hljs-subst,
.Code .hljs-symbol {
  color: var(--mnspcd-color-orange-4);
  font-weight: 400;
}

/* Light */

.Code--block.Code--lightMode {
  background-color: var(--mnspcd-color-orange-1);
  border-radius: 0;
  color: var(--mnspcd-color-grey-7);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.Code--lightMode .hljs-built_in,
.Code--lightMode .hljs-deletion {
  color: var(--mnspcd-color-red-6);
}

.Code--lightMode .hljs-name,
.Code--lightMode .hljs-section,
.Code--lightMode .hljs-selector-class,
.Code--lightMode .hljs-selector-id,
.Code--lightMode .hljs-title {
  color: var(--mnspcd-color-azure-6);
}

.Code--lightMode .hljs-doctag,
.Code--lightMode .hljs-literal,
.Code--lightMode .hljs-meta .hljs-meta-string,
.Code--lightMode .hljs-number,
.Code--lightMode .hljs-regexp,
.Code--lightMode .hljs-string {
  color: var(--mnspcd-color-cyan-6);
}

.Code--lightMode .hljs-addition,
.Code--lightMode .hljs-keyword,
.Code--lightMode .hljs-selector-tag {
  color: var(--mnspcd-color-green-6);
}

.Code--lightMode .hljs-attr,
.Code--lightMode .hljs-attribute,
.Code--lightMode .hljs-class .hljs-title,
.Code--lightMode .hljs-template-variable,
.Code--lightMode .hljs-type,
.Code--lightMode .hljs-variable {
  color: var(--mnspcd-color-yellow-6);
}

.Code--lightMode .hljs-bullet,
.Code--lightMode .hljs-link,
.Code--lightMode .hljs-meta .hljs-keyword,
.Code--lightMode .hljs-meta,
.Code--lightMode .hljs-selector-attr,
.Code--lightMode .hljs-selector-pseudo,
.Code--lightMode .hljs-subst,
.Code--lightMode .hljs-symbol {
  color: var(--mnspcd-color-orange-6);
}
