.Toc {
  border-top: calc(1rem / 16);
  font-family: var(--font-monospaced);
  font-variant: slashed-zero;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.Toc-itemLink {
  display: flex;
  justify-content: space-between;
}
