.mdrn .Rule {
  background-color: var(--color-grey-2);
  border: 0;
  color: var(--color-grey-2);
  height: calc(1rem / 16);
  margin-bottom: 0;
  margin-top: 0;
}

.mdrn .Rule--onDarkBackground {
  background-color: var(--color-grey-7);
  color: var(--color-grey-7);
}
