.Tile {
  align-items: center;
  border: calc(1rem / 16) solid var(--mnspcd-color-grey-2);
  color: var(--mnspcd-color-blue-9);
  display: flex;
  font-family: var(--font-monospaced);
  font-variant: slashed-zero;
  justify-content: center;
  padding: 1.5em 0.75em;
  width: 100%;
}

.Tile--onDarkBackground {
  border-color: var(--mnspcd-color-grey-8);
}
