	#container {position:relative; width:455px; height:750px; padding:34px 0 0 65px; font:bold 25px/1.216 helvetica,arial,sans-serif; background:#95cfe9 url(http://monospaced.co.uk/_temp/cw/cpw-bg.png) no-repeat;}
	
	#strapline {margin:0 0 37px; font-size:37px; text-transform:uppercase; color:#f00;}
	
	#view-photos { text-decoration:none; text-transform:uppercase; font-size:26px; color:#f00; background:url(http://monospaced.co.uk/_temp/cw/cpw-border-red.png) bottom repeat-x; _background:none; _border-bottom:2px solid #f00;}
	
	#winner-announced {position:absolute; bottom:80px; left:65px; white-space:nowrap; text-decoration:none; color:#fff; background:url(http://monospaced.co.uk/_temp/cw/cpw-border-wht.png) bottom repeat-x; _background:none; _border-bottom:2px solid #fff;}
	
	#t-and-c {position:absolute; right:2px; bottom:0; text-decoration:none; font-size:12px; color:#fff;}