/*
 * Run-in

.Markdown > div > p:first-of-type::first-line {
  font-family: var(--font-small-caps);
}
 */

/*
 * Spacing
 */

.Markdown blockquote,
.Markdown ol,
.Markdown p,
.Markdown ul {
  margin-bottom: calc(1em * var(--leading) / 2);
}

.Markdown h1 {
  margin-bottom: calc(24rem / 16);
}

@media (--larger-viewport) {
  .Markdown h1 {
    margin-bottom: calc(30rem / 16);
  }
}

.Markdown h2,
.Markdown h3,
.Markdown h4,
.Markdown h5,
.Markdown h6 {
  margin-bottom: calc(12rem / 16);
  margin-top: calc(24rem / 16);
}

@media (--larger-viewport) {
  .Markdown h2,
  .Markdown h3,
  .Markdown h4,
  .Markdown h5,
  .Markdown h6 {
    margin-bottom: calc(15rem / 16);
    margin-top: calc(30rem / 16);
  }
}

.Markdown hr,
.Markdown pre,
.Markdown table {
  margin-bottom: calc(1em * var(--leading));
  margin-top: calc(1em * var(--leading));
}

.Markdown > div > :first-child {
  margin-top: 0;
}

.Markdown > div > :last-child {
  margin-bottom: 0;
}

/*
 * Footnotes
 */

@media (--larger-viewport) {
  .Markdown .footnotes ol {
    font-size: calc(1em * var(--type-scale-s));
  }
}

.Markdown .footnotes p {
  margin-bottom: 0;
}

.Markdown .footnote-backref {
  display: block;
  font-family: var(--font-monospaced);
  font-size: calc(1em * var(--type-scale-xl));
  line-height: 1;
}
