body,div,dl,ul,ol,pre,form,select,input,textarea,p,th,td,address,caption{font-family:verdana,tahoma,geneva,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,p,blockquote,caption,th,td,iframe{margin:0;padding:0;border:0;}
body{font-size:10px;color:#404040;background:#fff url(/_format/images/baseline-17px.gif);}

a:link,a:visited{text-decoration:none;color:#0071bc;}	
a:hover{text-decoration:none;border-bottom: 1px dotted #0071bc;}

#container {margin: 0 auto; width: 760px; padding-top: 17px; background: none;}
.col {float: left; margin-right: 34px;}	

h1 {margin: -.1em 0; line-height: 1.3em; font-size: 160%;}
h2 {margin: 1.308em 0 1.308em; line-height: 1.308em; font-size: 130%;}
h3 {margin: 1.417em 0 -1.417em; line-height: 1.417em; font-size: 120%;}

li,p,pre {margin: 1.308em 0 1.308em; line-height: 1.308em; font-size: 130%; color: #999;}
pre,code{white-space:pre;font-family:Consolas, "Lucida Console", Monaco, monospace;}

canvas, object {margin:1.8em 0 0;}

strong {color: #c33; font-weight: normal;}

.amber {background: #ffc;}
.green:link, .green:visited {background: #e1ffe1;}
.red:link, .red:visited {background: #ffebeb;}

.lineLength {width:44em;}

.overlay-resize #container {padding: 17px 20px 1px; width: auto;}