html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

body {
	width: 100%;
	max-width: 33em;
	min-height: 480px;
	margin: 0 auto;
	padding: 0 0 1.77777778em;
	font: 18px/1.77777778 cambria, georgia, sans-serif;
	color: #222;
	background: #fff;
}
h1 {
	padding: .4615384em .4615384em .2307692em;
	font-size: 2.16666667em;
	line-height: 1.6410256;
	text-align: left;
}
h2 {
	border-top: 1px solid #e2e2e2;
	padding: 1em;
	text-align: right;
	font-style: italic;
}
ul {
	list-style:none;
}
li {
	border-top: 1px solid #e2e2e2;
}
a {
	display: block;
	padding: 1em;
	color: rgb(0,113,188);
	text-decoration: none; 
}
a:visited {
	color: rgb(0,113,188); 
}
a:hover { 
	outline: none;
	text-decoration: none; 
	color: #222;
}
a:active { 
	outline: none;
	color: #222;
}
a:focus { 
	color: #222; 
}
em {
	margin: 0 0 0 .25em;
	font-style:italic;
}
