body,div,dl,ul,ol,pre,form,select,input,textarea,p,th,td,address,caption{font-family:"Lucida Handwriting","Apple Chancery","URW Chancery L","Lucida Calligraphy","Tempus Sans ITC",cursive;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,p,blockquote,caption,th,td,iframe{margin:0;padding:0;border:0;}
body{font-size:10px;color:#404040;background:#fff url(/_format/images/baseline-17px.gif);}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ol,ul{list-style:none;}
a:link,a:visited{text-decoration:none;color:#0071bc;}
a:hover{text-decoration:none;border-bottom:1px dotted #0071bc;}

#container {position:relative;margin:0 auto;width:760px;padding:17px 0 0;}
.col {float:left;margin-right:34px;}

h1 {margin: 0 0 -.15em;line-height:1em;font-size:400%;}
h2 {margin:1.063em 0;line-height:1.063em;font-size:160%;}
h3 {margin:1.308em 0 -1.308em;line-height:1.308em;font-size:130%;}
h4 {margin:1.417em 0 -1.417em;line-height:1.417em;font-size:120%;}
p,ul {margin:1.417em 0;line-height:1.417em;font-size:120%;color:#999;}

strong {font-weight:normal;color:#c33;}

.amber a:link, .amber a:visited {background:#ffc;}
.green a:link, .green a:visited {background:#e1ffe1;}
.red a:link, .red a:visited {background:#ffebeb;}
.inactive, .inactive a:link, .inactive a:visited {color:#ccc;}

#nav-account {margin:0 0 1.417em 0;color:#404040;}
#nav-account strong {font-weight:bold;color:#404040;}
#nav-account span {background:#e1ffe1;}
#nav-account .error {color:#c33;background:#ffebeb;}

#days {position:absolute;top:0;right:7em;margin:1.063em 0;line-height:1.063em;font-size:160%;color:#404040;}