/* =reset
--------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,p,blockquote,caption,th,td,iframe,img,abbr,acronym{border:0;font-weight:normal;margin:0;padding:0;}
body,div,dl,ul,ol,p,th,td,address,caption{font-family:Charter,"Bitstream Charter",Georgia,serif;}
h1,h2,h3,h4,h5,h6,code,pre{font-family:SFMono-Light,SFMono-Standard,Consolas,"Liberation Mono",Menlo,"Courier New",monospace;}
form,select,input,textarea,label,form p{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;}
acronym,address,caption,code,cite,dfn,em,var{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
caption,th{text-align:left;}
img{display:block;}
dt{font-weight:bold;}
ol,ul{list-style:none;}
q:before,q:after{content:'';}
sub{bottom:-.25em;position:relative;vertical-align:baseline;}
sup{bottom:.33em;position:relative;vertical-align:baseline;}
label,input.submit,input.reset,input.image{cursor:pointer;}
textarea{font-size:100%;overflow:auto;}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body{background:#fff;color:#161616;font-size:10px;}
a:link,a:visited{color:#161616;text-decoration:underline;}
a:hover,a:focus{text-decoration:none;}
h1 a:link, h1 a:visited {text-decoration:none;}
h1 a:hover{color:#0040b1;}
h1 a:active{color:#002b95;}

/* =layout
--------------------------------------------- */
html, body { background: #dff8fe;height:100%;}
#distance {float:left;height:50%;margin-bottom:-10em;width:1px;}
#container {background:#fff;clear:left;height:20em;margin:0 auto;max-width:99%;overflow:hidden;position:relative;width:39em;}

#nav-main {margin:11px 18px 57px;}

/* =typography (body copy 12px / leading 18px)
--------------------------------------------- */
h1 {font-family:"SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:260%;font-weight:normal;line-height:1;margin:.692307692em .692307692em 0;}
h2 {font-size:200%;line-height:.9em;margin:.9em;}
h3 {font-size:180%;line-height:1em;margin:1em;}
h4, h5, h6 {font-size:140%;line-height:1.287em;margin:1.287em;}
small {display:block;font-size:10px;line-height:18px;margin:18px;}

dl, li, ol, fieldset, pre, p, blockquote, address {font-size:120%;line-height:1.5em;margin:1.5em;}
blockquote p {font-size: 100%;}
caption, th, td {font-size:120%;line-height:1.5em;}
ul ul, ol ol, ol ul, ul ol {font-size:100%;margin:0;}

/* =forms
--------------------------------------------- */
#form-login {padding:19px 0 0;}
#form-login label {float:left;font-weight:bold;margin:3px 5px 0 0;width:60px;}
#form-login .btns {float:right;margin:-1px 1.5em 0;}
#form-login .form-info {background:#fff5ab;float:left;margin:-9px 18px -9px 18px;}
#form-login .submit {float:right;margin:0;}
#form-login .text {border:1px solid #dff8fe;color:#161616;font-size:100%;height:17px;padding:3px 1px 0;width:285px;}
#form-login .text:focus {background:#fff5ab;}
#form-login.form-error .form-info {background:#fff1e8;color:#ce0000;}

/* =matrix
---------------------------------------------
pixels	percent	line-height
9		90	2.000
10	100	1.800
11	110	1.636
12	120	1.500
13	130	1.385
14	140	1.286
15	150	1.200
16	160	1.125
17	170	1.059
18	180	1.000
19	190	0.947
20	200	0.900
21	210	0.857
22	220	0.818
23	230	0.783
24	240	0.750
25	250	0.720
26	260	0.692
27	270	0.667
28	280	0.643
29	290	0.621
30	300	0.600
31	310	0.581
32	320	0.563
33	330	0.545
34	340	0.529
35	350	0.514
36	360	0.500
--------------------------------------------- */
