.mdrn .Group {
  overflow: hidden;
}

.mdrn .Group-inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75em;
  margin-right: -0.75em;
}

.mdrn .Group-itemInner {
  margin-bottom: 0.75em;
  margin-right: 0.75em;
}

.mdrn .Group--tessellate .Group-item,
.mdrn .Group--tessellate .Group-inner::before,
.mdrn .Group--tessellate .Group-inner::after {
  flex: 1 0 25%;
  min-width: calc(150rem / 16);
}

.mdrn .Group--tessellate .Group-inner::before,
.mdrn .Group--tessellate .Group-inner::after {
  content: "";
}

.mdrn .Group--tessellate .Group-inner::before {
  order: 1;
}
