.mdrn .Button {
  background-color: var(--color-blue-6);
  border-color: transparent;
  border-radius: 0.25em;
  border-style: solid;
  border-width: calc(1rem / 16);
  color: var(--color-white);
  font-family: var(--font-functional);
  font-size: 1em;
  -webkit-font-smoothing: auto;
  height: calc(var(--leading) * 1.5em);
  line-height: 1;
  min-width: calc(48rem / 16);
  -moz-osx-font-smoothing: auto;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  white-space: nowrap;
}

.mdrn .Button:hover {
  background-color: var(--color-blue-7);
  outline: 0;
}

.mdrn .Button:focus:not(:focus-visible) {
  outline: 0;
}

.mdrn .Button:active {
  background-color: var(--color-blue-8);
  outline: 0;
}

/* dark background */

.mdrn .Button--onDarkBackground {
  background-color: var(--color-blue-5);
  color: var(--color-grey-9);
}

.mdrn .Button--onDarkBackground:hover {
  background-color: var(--color-blue-4);
}

.mdrn .Button--onDarkBackground:active {
  background-color: var(--color-blue-3);
}

/* danger */

.mdrn .Button--colorDanger {
  background-color: var(--color-red-6);
}

.mdrn .Button--colorDanger:hover {
  background-color: var(--color-red-7);
}

.mdrn .Button--colorDanger:active {
  background-color: var(--color-red-8);
}

/* danger on dark background */

.mdrn .Button--colorDanger.Button--onDarkBackground {
  background-color: var(--color-red-5);
}

.mdrn .Button--colorDanger.Button--onDarkBackground:hover {
  background-color: var(--color-red-4);
}

.mdrn .Button--colorDanger.Button--onDarkBackground:active {
  background-color: var(--color-red-3);
}

/* flat
   ========================================================================== */

.mdrn .Button--styleFlat {
  background-color: transparent;
  color: var(--color-blue-6);
}

.mdrn .Button--styleFlat:hover {
  background-color: rgba(var(--color-blue-7-rgb), var(--opacity-hover));
  color: var(--color-blue-7);
}

.mdrn .Button--styleFlat:active {
  background-color: rgba(var(--color-blue-8-rgb), var(--opacity-active));
  color: var(--color-blue-8);
}

/* flat on dark background */

.mdrn .Button--styleFlat.Button--onDarkBackground {
  color: var(--color-blue-5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdrn .Button--styleFlat.Button--onDarkBackground:hover {
  background-color: rgba(var(--color-blue-4-rgb), var(--opacity-hover));
  color: var(--color-blue-4);
}

.mdrn .Button--styleFlat.Button--onDarkBackground:active {
  background-color: rgba(var(--color-blue-3-rgb), var(--opacity-active));
  color: var(--color-blue-3);
}

/* flat danger */

.mdrn .Button--styleFlat.Button--colorDanger {
  background-color: transparent;
  color: var(--color-red-6);
}

.mdrn .Button--styleFlat.Button--colorDanger:hover {
  background-color: rgba(var(--color-red-7-rgb), var(--opacity-hover));
  color: var(--color-red-7);
}

.mdrn .Button--styleFlat.Button--colorDanger:active {
  background-color: rgba(var(--color-red-8-rgb), var(--opacity-active));
  color: var(--color-red-8);
}

/* flat danger on dark background */

.mdrn .Button--styleFlat.Button--colorDanger.Button--onDarkBackground {
  color: var(--color-red-5);
}

.mdrn .Button--styleFlat.Button--colorDanger.Button--onDarkBackground:hover {
  background-color: rgba(var(--color-red-4-rgb), var(--opacity-hover));
  color: var(--color-red-4);
}

.mdrn .Button--styleFlat.Button--colorDanger.Button--onDarkBackground:active {
  background-color: rgba(var(--color-red-3-rgb), var(--opacity-active));
  color: var(--color-red-3);
}

/* outlined
   ========================================================================== */

.mdrn .Button--styleOutlined {
  background-color: transparent;
  border-color: var(--color-grey-4);
  color: var(--color-blue-6);
}

.mdrn .Button--styleOutlined:hover {
  background-color: rgba(var(--color-blue-7-rgb), var(--opacity-hover));
  color: var(--color-blue-7);
}

.mdrn .Button--styleOutlined:active {
  background-color: rgba(var(--color-blue-8-rgb), var(--opacity-active));
  color: var(--color-blue-8);
}

/* outlined on dark background */

.mdrn .Button--styleOutlined.Button--onDarkBackground {
  border-color: var(--color-grey-7);
  color: var(--color-blue-5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdrn .Button--styleOutlined.Button--onDarkBackground:hover {
  background-color: rgba(var(--color-blue-4-rgb), var(--opacity-hover));
  color: var(--color-blue-4);
}

.mdrn .Button--styleOutlined.Button--onDarkBackground:active {
  background-color: rgba(var(--color-blue-3-rgb), var(--opacity-active));
  color: var(--color-blue-3);
}

/* outlined danger */

.mdrn .Button--styleOutlined.Button--colorDanger {
  background-color: transparent;
  color: var(--color-red-6);
}

.mdrn .Button--styleOutlined.Button--colorDanger:hover {
  background-color: rgba(var(--color-red-7-rgb), var(--opacity-hover));
  color: var(--color-red-7);
}

.mdrn .Button--styleOutlined.Button--colorDanger:active {
  background-color: rgba(var(--color-red-8-rgb), var(--opacity-active));
  color: var(--color-red-8);
}

/* outlined danger on dark background */

.mdrn .Button--styleOutlined.Button--colorDanger.Button--onDarkBackground {
  color: var(--color-red-5);
}

.mdrn .Button--styleOutlined.Button--colorDanger.Button--onDarkBackground:hover {
  background-color: rgba(var(--color-red-4-rgb), var(--opacity-hover));
  color: var(--color-red-4);
}

.mdrn .Button--styleOutlined.Button--colorDanger.Button--onDarkBackground:active {
  background-color: rgba(var(--color-red-3-rgb), var(--opacity-active));
  color: var(--color-red-3);
}

/* on Poster
   ========================================================================== */

.mdrn .Button--onPoster {
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

.mdrn .Button--onPoster:hover {
  background-color: rgba(var(--color-blue-7-rgb), var(--opacity-hover));
  color: var(--color-blue-2);
}

.mdrn .Button--onPoster:active {
  background-color: rgba(var(--color-blue-8-rgb), var(--opacity-active));
  color: var(--color-blue-3);
}

.mdrn .Button--onPoster.Button--colorDanger {
  color: var(--color-red-5);
}

.mdrn .Button--onPoster.Button--colorDanger:hover {
  background-color: rgba(var(--color-red-7-rgb), var(--opacity-hover));
  color: var(--color-red-4);
}

.mdrn .Button--onPoster.Button--colorDanger:active {
  background-color: rgba(var(--color-red-8-rgb), var(--opacity-active));
  color: var(--color-red-3);
}

/* disabled
   ========================================================================== */

.mdrn .Button:disabled,
.mdrn .Button--colorDanger:disabled {
  background-color: var(--color-grey-3);
  color: var(--color-grey-5);
}

.mdrn .Button.Button--onDarkBackground:disabled,
.mdrn .Button--colorDanger.Button--onDarkBackground:disabled {
  background-color: var(--color-grey-8);
  color: var(--color-grey-6);
}

.mdrn .Button--styleFlat:disabled,
.mdrn .Button--styleFlat.Button--colorDanger:disabled {
  background-color: transparent;
  color: var(--color-grey-4);
}

.mdrn .Button--styleFlat.Button--onDarkBackground:disabled,
.mdrn .Button--styleFlat.Button--colorDanger.Button--onDarkBackground:disabled {
  background-color: transparent;
  color: var(--color-grey-7);
}

.mdrn .Button--styleOutlined:disabled,
.mdrn .Button--styleOutlined.Button--colorDanger:disabled {
  background-color: transparent;
  border-color: var(--color-grey-3);
  color: var(--color-grey-4);
}

.mdrn .Button--styleOutlined.Button--onDarkBackground:disabled,
.mdrn .Button--styleOutlined.Button--colorDanger.Button--onDarkBackground:disabled {
  background-color: transparent;
  border-color: var(--color-grey-8);
  color: var(--color-grey-7);
}

.mdrn .Button--onPoster:disabled {
  background-color: transparent;
  color: var(--color-grey-4);
}

/* text
   ========================================================================== */

.mdrn .Button-text {
  position: relative;
}

.mdrn .Button--withIcon .Button-text {
  margin-left: 0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

/* icon
   ========================================================================== */

.mdrn .Button-icon {
  display: inline-block;
  height: calc(20rem / 16);
  position: relative;
  vertical-align: middle;
  width: calc(20rem / 16);
}

@media (--larger-viewport) {
  .mdrn .Button-icon {
    height: calc(24rem / 16);
    width: calc(24rem / 16);
  }
}

.mdrn .Button--iconOnly {
  height: calc(48rem / 16);
  min-width: auto;
  padding-left: 0;
  padding-right: 0;
  width: calc(48rem / 16);
}

.mdrn .Button--iconOnly .Button-icon {
  height: calc(24rem / 16);
  width: calc(24rem / 16);
}

@media (--larger-viewport) {
  .mdrn .Button--iconOnly {
    height: calc(45rem / 16);
    width: calc(45rem / 16);
  }
}
