.mdrn .Table {
  border-collapse: collapse;
  font-family: var(--font-monospaced);
  font-size: calc(1em * var(--type-scale-s));
  font-variant: slashed-zero;
  line-height: var(--leading);
  width: 100%;
}

.mdrn .Table tbody tr:nth-child(even) {
  background-color: rgba(var(--color-grey-9-rgb), var(--opacity-static));
}

.mdrn .Table--onDarkBackground tbody tr:nth-child(even) {
  background-color: rgba(
    var(--color-white-rgb),
    var(--opacity-static-inverted)
  );
}

.mdrn .Table td {
  font-weight: 300;
}

.mdrn .Table td,
.mdrn .Table th {
  border: calc(1rem / 16) solid var(--color-grey-3);
  height: calc(36rem / 16);
  padding-left: calc(15rem / 16);
  padding-right: calc(15rem / 16);
  vertical-align: middle;
}

.mdrn .Table--onDarkBackground td,
.mdrn .Table--onDarkBackground th {
  border: calc(1rem / 16) solid var(--color-grey-7);
}

@media (--larger-viewport) {
  .mdrn .Table td,
  .mdrn .Table th {
    height: calc(45rem / 16);
    padding-left: calc(23rem / 16);
    padding-right: calc(23rem / 16);
  }
}
