.mdrn .Heading {
  display: block;
  font-size: 1em;
  margin: 0;
}

.mdrn .Heading--xxxl {
  font-family: var(--font-display);
  font-size: calc(1em * var(--type-scale-xxxl));
  font-variant: lining-nums;
  line-height: calc(var(--leading-scale-xxxl) / var(--type-scale-xxxl));
}

.mdrn .Heading--xxl,
.mdrn .Heading--xl,
.mdrn .Heading--l,
.mdrn .Heading--m,
.mdrn .Heading--s {
  font-family: var(--font-monospaced);
  font-variant: slashed-zero;
}

.mdrn .Heading--xxl {
  font-size: calc(1em * var(--type-scale-xxl));
  line-height: calc(var(--leading-scale-xxl) / var(--type-scale-xxl));
}

.mdrn .Heading--xl {
  font-size: calc(1em * var(--type-scale-xl));
  line-height: calc(var(--leading-scale-xl) / var(--type-scale-xl));
}

.mdrn .Heading--l {
  font-size: calc(1em * var(--type-scale-l));
  line-height: calc(var(--leading) / var(--type-scale-l));
}

.mdrn .Heading--m,
.mdrn .Heading--s {
  font-size: calc(1em * var(--type-scale-m));
  line-height: var(--leading);
}

@media (--larger-viewport) {
  .mdrn .Heading--s {
    font-size: calc(1em * var(--type-scale-s));
    line-height: calc(var(--leading) / var(--type-scale-s));
  }
}
