.mdrn .Space {
  margin-bottom: calc(1em * var(--leading));
}

.mdrn .Space--l {
  margin-bottom: calc(1em * var(--leading-scale-xl));
}

@media (--larger-viewport) {
  .mdrn .Space--l {
    margin-bottom: calc(1em * var(--leading-scale-xxl));
  }
}

.mdrn .Space--s {
  margin-bottom: calc(1em * var(--leading) / 2);
}

.mdrn .Space--xl {
  margin-bottom: calc(1em * var(--leading-scale-xxl));
}

@media (--larger-viewport) {
  .mdrn .Space--xl {
    margin-bottom: calc(1em * var(--leading-scale-xxxl));
  }
}
