.Surface--backgroundDark {
  color: var(--mnspcd-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Surface--backgroundDark a {
  color: var(--mnspcd-color-blue-5);
}

.Surface--backgroundDark a:hover {
  color: var(--mnspcd-color-blue-4);
}

.Surface--backgroundDark a:active {
  color: var(--mnspcd-color-blue-3);
}
