.Masthead {
  align-items: center;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1em;
  padding-right: 0.25em;
  width: 56.75em;
}

@media (--larger-viewport) {
  .Masthead {
    padding-right: 1em;
  }
}

.Masthead-logo {
  color: var(--mnspcd-color-blue-9);
  display: block;
}

.Masthead-logo:hover,
.Masthead-logo:active {
  color: var(--mnspcd-color-blue-9);
}

.Masthead--onPoster .Masthead-logo,
.Masthead--onPoster .Masthead-logo:hover,
.Masthead--onPoster .Masthead-logo:active {
  background: none;
  color: var(--mnspcd-color-white);
}

.Masthead-menu {
  display: flex;
}

@media (--larger-viewport) {
  .Masthead-menuButton {
    display: none;
  }
}

.Masthead-nav {
  display: none;
}

@media (--larger-viewport) {
  .Masthead-nav {
    display: block;
  }
}

.Masthead-navList {
  font-family: var(--font-monospaced);
  font-variant: slashed-zero;
  list-style: none;
  margin-bottom: 0;
  margin-right: -0.5em;
  margin-top: 0;
  padding-left: 0;
}

.Masthead-navItem {
  display: inline-block;
  margin-left: 0.75em;
}

.Masthead-navLink {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.Masthead-navLink:hover {
  background-color: rgba(var(--mnspcd-color-blue-7-rgb), var(--opacity-hover));
}

.Masthead-navLink:active {
  background-color: rgba(var(--mnspcd-color-blue-8-rgb), var(--opacity-active));
}

.Masthead-navLinkActive {
  background-color: rgba(var(--mnspcd-color-blue-8-rgb), var(--opacity-static));
  color: var(--mnspcd-color-blue-8);
}

.Masthead-navItem:last-child .Masthead-navLink {
  border: calc(1rem / 16) solid var(--mnspcd-color-blue-2);
}

.Masthead-navItem:last-child .Masthead-navLink:hover {
  border-color: var(--mnspcd-color-blue-3;)
}

.Masthead-navItem:last-child .Masthead-navLink:active {
  border-color: var(--mnspcd-color-blue-4;)
}
