.Rule {
  background-color: var(--mnspcd-color-grey-2);
  border: 0;
  color: var(--mnspcd-color-grey-2);
  height: calc(1rem / 16);
  margin-bottom: 0;
  margin-top: 0;
}

.Rule--onDarkBackground {
  background-color: var(--mnspcd-color-grey-8);
  color: var(--mnspcd-color-grey-8);
}
